<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Aplicación web de Fórmula 1"/>
    <meta name="author" content="PSPR - IES Monte Naranco"/>
    <title>Formula Naranco :: Pilotos</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>
<!-- Responsive navbar-->
<nav th:replace="~{index :: menu}">
</nav>
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Content Row-->
    <div id="listado-pilotos" class="row gx-4 gx-lg-5">
        <!-- Iteramos sobre la lista de TODOS los pilotos  -->
        <div  class="col-md-3 mb-5" th:each="piloto:${pilotos}">
            <!-- Después, empleando el with, le pasamos a la tarjeta del index el piloto de la lista a iterar -->
           <div th:replace="~{index :: tarjeta-piloto}" th:with="piloto=${piloto}"></div>
        </div>
    </div>
</div>
<!-- Footer-->
<footer th:replace="~{index :: footer}">
</footer>
<div th:replace="~{index :: librerias-js}"></div>

</body>
</html>