<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Aplicación web de Fórmula 1"/>
    <meta name="author" content="PSPR - IES Monte Naranco"/>
    <title>Formula Naranco :: Circuito</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>
<!-- Responsive navbar-->
<nav th:replace="~{index :: menu}">
</nav>
<!-- Page Content-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5" th:if="${circuitoADetallar}!=null">
        <div class="row gx-4 gx-lg-5" >
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" th:src="${circuitoADetallar.foto}" /></div>
            <div class="col-md-6">
                <div class="mb-1"><span th:text="${circuitoADetallar.pais}"></span></div>
                <h1 class="display-5 fw-bolder" th:text="${circuitoADetallar.nombre}"></h1>
                <div class="fs-5 mb-5">
                    <ul>
                        <li><span class="text-black">Id:</span>
                            <span class="text-black-50" th:text="${circuitoADetallar.circuitoId}"></span>
                        </li>
                        <li>
                            <span class="text-black">Longitud:</span>
                            <span class="text-black-50" th:text="${circuitoADetallar.longitud}"></span><span class="text-black-50">&nbsp;metros</span>
                        </li>
                        <li>
                            <span class="text-black">Vueltas:</span>
                            <span class="text-black-50" th:text="${circuitoADetallar.numeroVueltas}"></span>
                        </li>
                        <li>
                            <span class="text-black">Curvas:</span>
                            <span class="text-black-50" th:text="${circuitoADetallar.numeroCurvas}"></span>
                        </li>
                    </ul>
                </div>
                <div class="fs-5 mb-5">
                </div>
                <div class="d-flex">
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Editar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div th:unless="${circuitoADetallar}!=null">
        <h2 th:text="${msg}"></h2>
    </div>
</section>

<!-- Footer-->
<footer th:replace="~{index :: footer}">
</footer>
<div th:replace="~{index :: librerias-js}"></div>

</body>
</html>