<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="description" content="Aplicación web de Fórmula 1"/>
    <meta name="author" content="PSPR - IES Monte Naranco"/>
    <title ></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body>
<div class="container">
    <h1 ></h1>

    <form >
        <table class="table table-striped">
            <tr >
                <td> </td>
                <td><input type="text" ></td>
            </tr>

            <tr>
                <td> </td>
                <td><input type="text" ></td>
            </tr>

            <tr>
                <td> </td>
                <td><input type="text" ></td>
            </tr>

        </table>
        <input class="btn btn-primary" type="submit" />
    </form>
    <a >Volver a la lista de directores</a>
</div>
</body>

</html>