<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Formula Naranco :: Clasificación pilotos</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">

</head>
<body>
<!-- Responsive navbar-->
<nav th:replace="~{index :: menu}">
</nav>
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <blockquote>Piloto con más victorias: <span ></span>
            (<span ></span>) con <span ></span> victorias</blockquote>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Posición</th>
                <th scope="col">Número</th>
                <th scope="col">Piloto</th>
                <th scope="col">Equipo</th>
                <th scope="col">Puntos</th>
            </tr>
            </thead>
            <tbody th:each="resultado, pilotoStat :${resultados}">
            <tr>
                <!-- pilotoStat.count es un contador para obtener la posición correlativa sobre la variable piloto-->
                <td th:text="${pilotoStat.count}"></td>
                <td th:text="${resultado.piloto.numero}"></td>
                <td th:text="${resultado.piloto.nombre}"></td>
                <td th:text="${resultado.piloto.equipo}"></td>
                <td th:text="${resultado.puntos}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Footer-->
<footer th:replace="~{index :: footer}">
</footer>
<div th:replace="~{index :: librerias-js}"></div>

</body>
</html>